.my_p_1{
   position: relative;
   background-color: rgb(23, 144, 165); 
   height: 50px; 
   text-align: center;
 line-height: -12%;
}
.my_p_1 div{
  position: absolute;
 color:#fff;
 font-size: 10px; 
   width: 150px;
   top:20%;
   left:50%; 
}
.carousel-control-prev,
.carousel-control-next{
    width:3%;height:5%;top:40%;
    background-color:#aaa;border-radius:0.25rem;
}
