.nav-link{
    font-size:20px;
    color:#000;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #dddddd;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}