.bgcolor{
    background-color: #f1fafa;
}
.video{
    text-align: center;
    width:100x;
    height:550px;
    position: relative;
}

 .hpreg {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #f1fafa;
     text-align: center;
     margin-top: 200px;
     padding-bottom: 20px;
     width: 100%;
 }
.pic1{
    width: 350px;
    height: 350px;
    border-radius:50%;
}
 .font1{
     font-size:50px;
 }
 .btn{
     margin-left: 460px;
 }
 .btn1{
     width:200px;
     height:70px;
     font-size:24px;
     color:#fff;
     background-color: #0069d9;
     border-radius:15px;
 }
 .search{
     margin-top: 200px;
 }
 .text1{
     font-size:24px;
     width:100%;
     height:50px;
     border-radius: 10px;
 }
 .babys{
     text-align: center;
 }
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #dddddd;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
    color: #000;
}
.details{
    text-align: center;
    margin-top: 200px;
}
.details-apply{
    display: block;
    padding: 0;
    margin: 0 -5px;
    list-style:none;
    overflow: hidden;
}
.apply_img{
    float: left;
    list-style: none;
}
.apply{
    display: inline-block;
    position: relative;
    margin: 100px 5px;
    margin-bottom: 50px;
}

.imgxq{
    width:250px;
    height:250px;

}
.textoverlay{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #000000;
    margin: 16px;
}
